@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Young+Serif&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --WHITE: hsl(0, 0%, 100%);
    --STONE-100: hsl(30, 54%, 90%);
    --STONE-150: hsl(30, 18%, 87%);
    --STONE-600: hsl(30, 10%, 34%);
    --STONE-900: hsl(24, 5%, 18%);
    --BROWN-800: hsl(14, 45%, 36%);
    --ROSE-800: hsl(332, 51%, 32%);
    --ROSE-50: hsl(330, 100%, 98%);

    --FS: 1em;
    --FONT-BODY: Outfit, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --FONT-HEADING: 'Young Serif', cursive;

    --FONT-BOLD: 600;
    --FONT-BOLDER: 700;

    --PADDING: 2rem;
}

body {
    color: var(--STONE-900);
    font-family: var(--FONT-BODY);
}

main {
    padding: var(--PADDING);
}

main > * {
    margin-bottom: 1rem;
}

h1 {
    color: var(--STONE-900);
    font-family: var(--FONT-HEADING);
}

h2 {
    color: var(--ROSE-800);
    font-family: var(--FONT-HEADING);
}

h3 {
    color: var(--ROSE-800);
    font-family: var(--FONT-BODY);
    font-size: var(--FS);
    font-weight: 700;
}

ul, ol {
    list-style-position: inside;
}

u, ol ::marker {
    color: var(--ROSE-800);
}

img {
    max-width: 100vw;
}

.bold {
    font-weight: var(--FONT-BOLD);
}

.preparation-time {
    background-color: var(--ROSE-50);
    padding: 1rem;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a { color: hsl(228, 45%, 44%); }