@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Young+Serif&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --WHITE: hsl(0, 0%, 100%);
    --STONE-100: hsl(30, 54%, 90%);
    --STONE-150: hsl(30, 18%, 87%);
    --STONE-600: hsl(30, 10%, 34%);
    --STONE-900: hsl(24, 5%, 18%);
    --BROWN-800: hsl(14, 45%, 36%);
    --ROSE-800: hsl(332, 51%, 32%);
    --ROSE-50: hsl(330, 100%, 98%);

    --FS: 1em;
    --FONT-BODY: Outfit, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --FONT-HEADING: 'Young Serif', cursive;

    --FONT-BOLD: 600;
    --FONT-BOLDER: 700;
}

/* || GENERAL */
body, footer {
    background-color: var(--STONE-100);
    color: var(--STONE-900);
    font-family: var(--FONT-BODY);
}

main {
    background-color: var(--WHITE);
    margin: auto;
    max-width: 100vw;
}

article {
    background-color: var(--WHITE);
    display: block;
    padding: 1rem 2rem;
    align-content: center;
}

article > * { margin-bottom: 1rem; }

img { max-width: 100%; }

hr {
    background-color: var(--STONE-150);
    border: none;
    height: 0.0625em;
    margin: 2rem 0;
}

h1 {
    color: var(--STONE-900);
    font-family: var(--FONT-HEADING);
}

h2 {
    color: var(--BROWN-800);
    font-family: var(--FONT-HEADING);
}

h3 {
    color: var(--ROSE-800);
    font-family: var(--FONT-BODY);
    font-size: var(--FS);
    font-weight: 700;
}

p, li { line-height: 1.4rem; }

/* LIST */
ol, ul {
    list-style-position: outside;
    padding-left: 1.5rem;
}

:is(ol, ul) > li {
    padding-left: 1rem;
    margin-top: 0.5rem;
}

:is(ol, ul) ::marker {
    color: var(--ROSE-800);
    font-weight: var(--FONT-BOLD);
    justify-content: center;
}

/* TABLE */
table {
    border-collapse: collapse;
    width: 100%;
}

tr { border-bottom: 1px solid var(--STONE-150); }

tr:last-child { border: 0 }

td { padding: 1rem 0 0.8rem 2rem; }

td:last-child{
    color: var(--BROWN-800);
    font-weight: var(--FONT-BOLD);
}

/* || CLASSES */
span.bold { font-weight: var(--FONT-BOLD); }

.preparation-time {
    background-color: var(--ROSE-50);
    border-radius: 1em;
    margin: 2rem 0;
    padding: 1.5rem;
}

/* || ATRIBUTION */
.attribution {
    font-size: 0.5rem;
    text-align: center;
}

@media screen and (min-width: 48em) {
    body {
        padding: 5rem 5rem;
    }

    main {
        border-radius: 2em;
        max-height: 80%;
        max-width: 62.5em;
        padding: 3rem;
    }

    article { padding: 1rem 0; }

    img {
        border-radius: 1em;
     }

}
